* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around
}

.header-container {
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 12px;
}

hero {
    background-color: #1f2937;
    display: flex;
}

.welcome-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.describe-text {
    color: #e5e7eb;
    font-weight: 18px;
}

button {
    background-color: #850c85;
    color: #f9faf8;
}