* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

header {
    background-color: #1f2937;
    display: flex;

}

.header-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    padding: 12px;
}