* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}

.header-container {
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 12px;
    margin-top: 4px;
}

.header-logo {
    align-self: center;
    padding-top: 10px;
}

hero {
    background-color: #1f2937;
    display: flex;
    padding-top: 24px;
}

.welcome-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    max-width: 300px;
    align-self: center;
}

.describe-text {
    color: #e5e7eb;
    font-weight: 18px;
    max-width: 300px;
    align-self: center;

}

button {
    background-color: #3882f6;
    color: #f9faf8;
    flex-shrink: 1;
    width: 110px;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    border-radius: 8px;
    border-color: #8fade9;
}

.hero-main {
    display: flex;
    flex: auto;
    justify-content: center;
}

.hero-main-item {
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    gap: 18px;
    margin-right: 24px;
}

h1 {
    text-align: center;
}

.player-container {
    display: flex;
}